Repository verySmolBrain/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint ., stylelint ., prettier --write --plugin=prettier-plugin-astro

test
  src/styles/base.css
Due: stylelint .

test
  .husky/pre-commit
  package.json
  src/styles/base.css
Due: stylelint ., prettier --write --plugin=prettier-plugin-astro

test
  .husky/pre-commit
  src/styles/base.css
Due: stylelint .

test
  .husky/pre-commit
Due: none

test
  package.json
  src/styles/base.css
Due: stylelint ., prettier --write --plugin=prettier-plugin-astro

test
  .lintstagedrc
Due: none

init
  .prettierignore
  .stylelintrc
  package.json
  pnpm-lock.yaml
Due: prettier --write --plugin=prettier-plugin-astro

init
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/components/Card.astro
  src/components/SearchBar/SearchBar.tsx
  src/layouts/Layout.astro
  src/pages/index.astro
  src/styles/base.css
Due: eslint ., stylelint ., prettier --write --plugin=prettier-plugin-astro

init
  .lintstagedrc
Due: none

init
  package.json
  pnpm-lock.yaml
  src/env.d.ts
Due: prettier --write --plugin=prettier-plugin-astro

header and footer
  .prettierignore
  .prettierrc
  astro.config.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  public/assets/logo.svg
  public/toggle-theme.js
  src/assets/Icons/BurgerMenuIcon.astro
  src/assets/Icons/HeartIcon.astro
  src/assets/Icons/MoonIcon.astro
  src/assets/Icons/SearchIcon.astro
  src/assets/Icons/Socials.astro
  src/assets/Icons/SunIcon.astro
  src/assets/Icons/socialIcons.ts
  src/components/AccessibleContentAnchor.astro
  src/components/Card.astro
  src/components/Footer.astro
  src/components/Header.astro
  src/components/Hr.astro
  src/components/LinkButton.astro
  src/config.ts
  src/layouts/Layout.astro
  src/pages/404.astro
  src/pages/index.astro
  src/pages/portfolio.astro
  src/pages/search.astro
  src/styles/base.css
  src/types.ts
  tailwind.config.mjs
  tsconfig.json
Due: eslint ., stylelint ., prettier --write --plugin=prettier-plugin-astro

404
  src/components/Footer.astro
  src/components/Header.astro
  src/pages/404.astro
Due: eslint ., stylelint ., prettier --write --plugin=prettier-plugin-astro

Path conditions:
  eslint .: any of: *.astro
  stylelint .: any of: src/**/*.{css,astro,tsx}
  prettier --write --plugin=prettier-plugin-astro: any of: *.{js,jsx,ts,tsx,md,mdx,json,astro}
